<mat-toolbar color="primary">
  <h2 mat-dialog-title>Login</h2>
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p>{{user | json}}</p>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <p>
      <mat-form-field color="{{username.invalid && !username.pristine ? 'warn' : 'primary'}}">
        <input matInput #username="ngModel" placeholder="Username" type="text" [(ngModel)]="user.username" name="username" required>
        <mat-hint>
          <span [hidden]="username.pristine">
            <span [hidden]="!username.errors?.required">Username is required</span>
          </span>
        </mat-hint>
      </mat-form-field>
      <mat-form-field color="{{password.invalid && !password.pristine ? 'warn' : 'primary'}}">
        <input matInput #password="ngModel" placeholder="Password" type="password" [(ngModel)]="user.password" name="password" required>
        <mat-hint>
          <span [hidden]="password.pristine">
            <span [hidden]="!password.errors?.required">Password is required</span>
          </span>
        </mat-hint>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="user.remember" name="remember">
        Remember Me
      </mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button button-type="submit" [disabled]=loginForm.form.invalid class="background-primary text-floral-white">Login</button>
  </mat-dialog-actions>
</form>