<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail',prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()" >BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail',next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess.message}}</h4>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <div class="container" fxLayout="column">
      <div fxFlex >
      <mat-list>
      <h3>Comments</h3>
      <mat-list-item *ngFor="let comment of dish.comments">
        <p mat-line><span>{{comment.comment}}</span></p>
        <p mat-line><span> {{comment.rating}} Stars </span></p>
        <p mat-line><span> -- {{comment.author}} {{comment.date | date}} </span></p>
      </mat-list-item>
      <mat-list-item *ngIf="!commentForm.invalid">
          <p mat-line><span>{{commentForm.get('comment').value}}</span></p> <!-- while two way data binding can be done with [(ngModel)], using it alongside formControllerName is not advised -->
          <p mat-line><span> {{commentForm.get('rating').value}} Stars </span></p> <!-- Also, it is deprecated in Angular 6, it will not be supported in Angular 7 -->
          <p mat-line><span> -- {{commentForm.get('author').value}}</span></p>
      </mat-list-item>
    </mat-list>
    </div>

    <div fxFlex>
      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit(formDirective)" #formDirective="ngForm">
        <p>
          <mat-form-field class="full-width" color="{{(formErrors.author) ? 'warn':'primary'}}">
            <input matInput type="text" placeholder="Name" formControlName="author"><!-- while two way data binding can be done with [(ngModel)], using it alongside formControllerName is not advised -->
          </mat-form-field>                                                         <!-- Also, it is deprecated in Angular 6, it will not be supported in Angular 7 -->
          <mat-hint>
            <span [hidden]="!(formErrors.author)">{{formErrors.author}}</span>
          </mat-hint>
        </p>
        <p>
            <mat-slider min="1" max="5" step="1" thumbLabel tickInterval="1" formControlName="rating"></mat-slider>
        </p>
        <p>
          <mat-form-field class="full-width" color="{{(formErrors.comment) ? 'warn':'primary'}}">
            <textarea matInput type="text" placeholder="Comments" rows="12" formControlName="comment"></textarea>
          </mat-form-field>
          <mat-hint>
              <span [hidden]="!(formErrors.comment)">{{formErrors.comment}}</span>
            </mat-hint>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
      </form>
    </div>
  </div>
    
    
  </div>

</div>