<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

  <div fxFlex>
    <mat-card *ngIf="dish" [@expand]>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div [hidden]="dish || dishErrMess">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="dishErrMess">
    <h2>Error</h2>
    <h4>{{dishErrMess.message}}</h4> <!-- This returns an object array. Extract Message from the object to get the error. -->
  </div>

  <div fxFlex>
    <mat-card *ngIf="promotion" [@expand]>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>{{promotion.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + promotion.image}}" alt={{promotion.name}}>
      <mat-card-content>
        <p>{{promotion.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div [hidden]="promotion || promoErrMess">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="promoErrMess">
    <h2>Error</h2>
    <h4>{{promoErrMess.message}}</h4>
  </div>
  <div fxFlex>
    <mat-card *ngIf="leader" [@expand]>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>{{leader.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + leader.image}}" alt={{leader.name}}>
      <mat-card-content>
        <p><span>{{leader.designation}}</span></p>
        <p><span>{{leader.description}}</span></p>
      </mat-card-content>
    </mat-card>
  </div>
  <div [hidden]="leader || leaderErrMess">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="leaderErrMess">
  <h2>Error</h2>
  <h4>{{leaderErrMess.message}}</h4>
</div>

</div>